.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/detail.jpg");
  background-size: cover;
}

.card{
  position: relative;
  width: 700px;
  height: 400px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.card .circle::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg');
  background-size: 280px;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: circle(120px at center);
  transition: 0.8s;
}

.card:hover .circle:before{
  transform: translateX(-500px)rotate(400deg)translateY(-200px);
  background-image: url("../../assets/pokepoke.png");
  background-size: 400px;
  clip-path: circle(400px at center);
  width: 1000px;
  z-index: 500;
}


.card img{
  position: absolute;
  left: 34%;
  height: 300px;
  pointer-events: none;
  transition: 0.5s;
  filter: drop-shadow(-2px 4px 15px rgb(0, 0, 0));
  animation: animar 2s infinite ease;
}

@keyframes animar {
  25% {
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(10px);
  }
}

.card:hover img {
  left:50%;
  height: 500px; 
}

.card .content{
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  width: 200px;
  text-align: center;
}

.card:hover .content{
  left: 0;
  opacity: 1;
  visibility: visible;
}


.card .content .types{
  padding: 10px 20px;
  border-radius: 10px;
  background: #ffd;
  font-size: large;
  font-weight: 600;
  color: #111;
  display: inline-block;
  text-decoration: none;
  transform: translate(70px,20px);
  z-index: 5000000000;
}

@media (max-width:991px){
  .card{
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin:10px;
    bottom: 0;
  }
  .card .content .types{
    width: 200px;
  }
  .card:hover{
    height: 600px;
  }
  .card .content{
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .card img{
    left: 10%;
    height: 320px;
  }
}

@media (max-width:420px){
  .card .content{
    padding: 20px;
  }
}

.type{
  -webkit-text-stroke: 1px solid #fff;
}

.Normal{
  color:rgba(168, 167, 122, 0.900);
}

.Fighting {
  color:rgba(194, 46, 40, 0.900);
}

.Flying {
  color:rgba(169, 143, 243, 0.900);
}

.Poison {
  color:rgba(163, 62, 161, 0.900);
}

.Ground {
  color:rgba(226, 191, 101, 0.900);
}

.Rock {
  color:rgba(182, 161, 54, 0.900);
}

.Bug {
  color:rgba(166, 185, 26, 0.900);
}

.Ghost {
  color:rgba(115, 87, 151, 0.900);
}

.Steel {
  color:rgba(183, 183, 206, 0.900);
}

.Fire {
  color:rgba(238, 129, 48, 0.900);
}

.Water {
  color:rgba(99, 144, 240, 0.900);
}

.Grass {
  color: rgba(122, 199, 76, 0.900);
}

.Electric {
  color: rgba(247, 208, 44, 0.900);
}

.Psychic {
  color:rgba(249, 85, 135, 0.900);
}

.Ice {
  color:rgba(150, 217, 214, 0.900);
}

.Dragon {
  color:rgba(111, 53, 252, 0.900);
}

.Dark {
  color:rgba(112, 87, 70, 0.900);
}

.Fairy {
  color: rgba(255, 204, 204, 0.900);
}

.Shadow {
  color: rgba(0, 0, 0, 0.900);
}

.left{
  display: flex;
  flex-direction: column;
}

.left .stats{
  display: flex;
  gap: 20px;
}

.left .stats p{
  font-size: 1.5em;
  font-weight: 700;
  -webkit-text-stroke: #fff 0.5px ;
}

.types button{
  height: 50px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: rgb(247, 208, 44);
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.types button:hover{
  background-color: rgb(230, 0, 0);
  transform: translateY(-1px);
}
.card .content h2{
  color:#fff;
  font-size: 4em;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-text-stroke: #111 1px ;
  transform: translate(-100px,350px);
}

.link-to-back{
  background-color: #fff;
  transition: 0.5s;
}

.link-to-back:hover{
  color: #fff;
  background-color: #000;
}