.divLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.btn{
  height: 50px;
  width: 50px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding: 3px;
  margin-top: 20px;
  background-color: rgb(247, 208, 44);
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  transform: translateX(8px);
}

.btn:hover{
  background-color: rgb(230, 0, 0);
  transform: translateY(-1px);
}