.divContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  margin-top: 0;
}

.filters{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: transparent;
  margin-top: .4rem;
}

.divCardsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 100%;
  margin: 5px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  justify-items: center;
  margin-top: 2rem;
  margin: 2px;
}

.divFilterSource{
  margin: 5.5rem 0.5rem 0.5rem 0.5rem;
}

.divFilterType{
  margin: 5.5rem 0.5rem 0.5rem 0.5rem;
}

.divFilterOrder{
  margin: 5.5rem 0.5rem 0.5rem 0.5rem;
}

.selectFilterSource{
  font-size: 1rem;
  font-weight: 300;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  outline: none;
}

.selectFilterSource:hover{
  background-color: rgba(255,100,0,0.3);
}

.selectFilterType{
  font-size: 1rem;
  font-weight: 300;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  outline: none;
}
.selectFilterType:hover{
  background-color: rgba(255,100,0,0.3);
}

.selectFilterOrder{
  font-size: 1rem;
  font-weight: 300;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  outline: none;
}
.selectFilterOrder:hover{
  background-color: rgba(255,100,0,0.3);
}
.divFooter {
  margin-bottom: .8rem;
}

select:focus{outline:none}
